<div class="columns">
    <div class="column">
        <div class="box {{background}}">
            <a href="journals/{{id}}/entries/{{id}}">
                <p class="title has-text-white">
                    {{title}}
                    
                    <div class="buttons is-right"> 
                        <button class="button">
                            <span class="icon is-small">
                                <i data-id="{{id}}" class="fa-solid fa-pencil"></i>
                            </span>
                        </button>

                        <button class="button">
                            <span class="icon is-small">
                                <i data-id="{{id}}" class="fa-solid fa-trash-can"></i>
                            </span>
                        </button>
                    </div>
                
                </p>
            </a>
        </div>
    </div>
</div>
<div>
    
</div>