<div class="columns is-centered">
  <div class="column m-2">
    <div class="box {{background}}">
      {{log background}}
      <a href="/journals/{{journal_id}}/entries/{{id}}">
        <p class="title {{background}}-title has-text-white">
          {{title}}
        </p>
      </a>
    </div>
  </div>
</div>