
<div id="entryDetailColumn" class="column is-three-fifths mr-2">
  <div class="box">
    <p class="title {{entry.background}}-title is-inline">{{entry.title}}</p>
    <p class="buttons is-inline ml-3">
      <button data-id="{{entry.id}}" class="button is-small is-info is-inverted updateEntryButton">
        <span class="icon is-small">
          <i data-id="{{entry.id}}" class="fas fa-pencil"></i>
        </span>
      </button>
      <button data-id="{{entry.id}}" class="button is-small is-danger is-inverted deleteEntryButton">
        <span class="icon-is-small">
          <i data-id="{{entry.id}}" class="fas fa-trash-can"></i>
        </span>
      </button>
    </p>
    <p class="{{entry.background}}-body has-text-weight-bold is-4 mt-5">{{entry.content}}</p>
  </div>
</div>


