<div class="column  is-half-tablet is-one-quarter-widescreen">
    <a href="/journals/{{id}}">
        <div class=" box journals {{background}} has-text-centered">
            <div class="update-holder field buttons is-right">
                <p class="control">
                    <button class="button update journal-form">
                        <span class="icon is-small">
                            <i data-id="{{id}}" class="fa-solid fa-pencil"></i>
                        </span>
                    </button>
                </p>
                <p class="control">
                    <button class="button update ">
                        <span class="icon is-small">
                            <i data-id="{{id}}" class="fa-solid fa-trash-can"></i>
                        </span>
                    </button>
                </p>
            </div>
            <p class="title journal-title has-text-black ">{{title}}</p>
            <p class="subtitle mt-5 pt-3 has-text-weight-bold">{{description}}</p>

        </div>
    </a>
</div>
