<div class="column m-4 is-full-mobile is-one-third-tablet is-one-quarter-widescreen">
    <a href="/journals/{{id}}">
     
        <div class="box journals {{background}}-notebook has-text-centered">

             <div class="update-holder field buttons is-right">
                <p class="control">
                    <button data-id="{{id}}" class="button update updateJournalButton is-info is-light">
                        <span class="icon is-small updateJournalButton">
                            <i data-id="{{id}}" class="fa-solid fa-pencil updateJournalButton"></i>
                        </span>
                    </button>
                </p>
                <p class="control">
                    <button data-id="{{id}}" class="button update deleteJournalButton is-danger is-light">
                        <span class="icon is-small deleteJournalButton">
                            <i data-id="{{id}}" class="fa-solid fa-trash-can deleteJournalButton"></i>
                        </span>
                    </button>
                </p>
            </div>
          
            <p class="title journal-title ml-5">{{title}}</p>
            <p class="subtitle journal-subtitle has-text-weight-bold">{{description}}</p>

        </div>
    </a>
</div>
